.sidebar-collapse {
    border-bottom: 1px solid #e0e0e0;
    background-color: #f3f3f3;
    text-align: center;
    padding: 3px 0;
    position: fixed;
    bottom: 0px;
    width: 190px;
}
.sidebar {
    width: 130px;
}